<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kadir Aydın ASP.NET Web Projesi</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/"><img src="~/Content/Images/logo.png" height="75" alt="Logo" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Ana Sayfa", "Index", "Home", new { }, new { @class = "nav-link" })
                    </li>
                    @if (Session["Admin"] == null)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Hakkımızda", "About", "Home", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("İletişim", "Contact", "Home", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Rezervasyon Yap", "Create", "Rezervation", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Halı Sahalar", "Index", "Astroturfs", new { }, new { @class = "nav-link" })
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Adminler", "Index", "Admins", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Kullanıcılar", "Index", "Users", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Roller", "Index", "Roles", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Halı Sahalar", "Index", "Astroturfs", new { }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Rezervasyonlar", "Index", "Rezervation", new { }, new { @class = "nav-link" })
                        </li>
                    }
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (Session["Admin"] == null)
                        {
                            if (Session["UserMail"] != null && Session["UserID"] != null)
                            {
                                <li class="nav-item">
                                    @Html.ActionLink("Rezervasyonlar", "Index", "Rezervation", new { }, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Profil", "Details", "Users", new { }, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Çıkış Yap", "Logout", "UserLogin", new { }, new { @class = "nav-link" })
                                </li>
                            }
                            else
                            {

                                <li class="nav-item">
                                    @Html.ActionLink("Giriş Yap", "Index", "UserLogin", new { }, new { @class = "nav-link" })
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Çıkış Yap", "AdminLogout", "AdminLogin", new { }, new { @class = "nav-link" })
                            </li>
                        }
                    </ul>
</div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
            <footer style="padding:1em;">
                <hr />
                <p>&copy; @DateTime.Now.Year - Kadir Aydın ASP.NET Web Projesi</p>
            </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
