@model HaliSahaProject.Models.Astroturfs

@{
    ViewBag.Title = "Delete";
}

<h2>Halı Saha Silme</h2>

<h3>Silmek istediğine emin misin?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Counties.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Counties.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Listeye Dön", "Index", new { },new { @class="btn btn-info"})
        </div>
    }
</div>
