@model IEnumerable<HaliSahaProject.Models.Astroturfs>

@{
    ViewBag.Title = "Halı Sahalar";
}

<h2>Halı Sahalar</h2>

@if (Session["Admin"] != null)
{
    <p>
        @Html.ActionLink("Yeni Bir Halı Saha Oluştur", "Create", new { }, new { @class = "btn btn-outline-success" })
    </p>
}
@using (Html.BeginForm())
{
    <div class="col-sm-12 col">
        <div class="row">
            @Html.TextBox("search","", new { @class = "form-control col"})
            <input type="submit" value="Ara" class="btn btn-outline-success" />
        </div>
    </div>

}
<div class="row">
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div class="card col-md-6" style="margin-top:1em">
                <div class="card-header">
                    <h4 class="card-title">
                        @Html.DisplayFor(modelItem => item.Name)
                    </h4>
                    <h6 class="card-subtitle">
                        @Html.DisplayFor(modelItem => item.Users.Name) - @Html.DisplayFor(modelItem => item.Tel)
                    </h6>
                </div>
                <div class="card-body">
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Info)</p>
                    <hr />
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Adress) - @Html.DisplayFor(modelItem => item.Counties.Name)</p>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Rezervasyon Yap", "Create", "Rezervation", new { AstroID = item.ID }, new { @class = "btn btn-info float-left" })
                    @if (Session["Admin"] != null)
                    {
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.ID }, new { @class = "btn btn-warning float-right" })
                        @Html.ActionLink("Sil", "Delete", new { id = item.ID }, new { @class = "btn btn-danger float-right" })
                    }
                </div>
            </div>
        }
    }
    else
    {
        <div class="col text-center" style="margin:1em">
            <h4>Halı saha bulunamadı.</h4>
        </div>
    }
</div>