@model IEnumerable<HaliSahaProject.Models.Rezervations>

@{
    ViewBag.Title = "Rezervasyonlar";
}

<h2>Rezervasyonlar</h2>

<p>
    @Html.ActionLink("Yeni Rezervasyon", "Create",new { },new { @class="btn btn-outline-success"})
</p>
<table class="table table-success table-hover table-responsive-md">
    <tr>
        <th>
            Halı Saha Adı
        </th>
        <th>
            Kullanıcı Adı
        </th>
        <th>
            Tarih
        </th>
        <th>
            Onay
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Astroturfs.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.Name) 
            @Html.DisplayFor(modelItem => item.Users.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @if (item.State == true)
            {
                <font>Onaylandı</font>
            }
            else
            {
                <font>Onaylanmadı</font>
            }
        </td>
        <td>
            @if ((Session["Admin"] != null || Session["HSY"] != null) && item.State == false)
            {
                @Html.ActionLink("Onayla", "Edit", new { id = item.ID },new { @class="text-info"}) <font>|</font>
            }
            @Html.ActionLink("Sil", "Delete", new { id = item.ID }, new { @class = "text-danger" })
        </td>
    </tr>
}

</table>
