@model IEnumerable<HaliSahaProject.Models.Astroturfs>
@{
    ViewBag.Title = "Halı Saha Yönetimi ve Rezervasyon Sistemi";
}
<div class="text-center">
    <h2>Halı Saha Yönetimi ve Rezervasyon Sistemine Hoşgeldiniz.</h2>
    <h6>Rezervayson yapmak ister misiniz?</h6>
</div>


@using (Html.BeginForm())
{
    <div class="col-sm-12 col">
        <div class="row">
            @Html.TextBox("search", "", new { @class = "form-control col" })
            <input type="submit" value="Ara" class="btn btn-outline-success" />
        </div>
    </div>

}
<div class="row">
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div class="col-md-6" style="padding: 5px; margin-top: 1em;">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            @Html.DisplayFor(modelItem => item.Name)
                        </h4>
                        <h6 class="card-subtitle">
                            @Html.DisplayFor(modelItem => item.Users.Name) - @Html.DisplayFor(modelItem => item.Tel)
                        </h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Info)</p>
                        <hr />
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Adress) - @Html.DisplayFor(modelItem => item.Counties.Name)</p>
                    </div>
                    <div class="card-footer">
                        @Html.ActionLink("Rezervasyon Yap", "Create", "Rezervation", new { AstroID = item.ID }, new { @class = "btn btn-info float-left" })
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col text-center" style="margin:1em">
            <h4>Halı saha bulunamadı.</h4>
        </div>
    }
</div>
