@model HaliSahaProject.Models.UserLogin
@{
    ViewBag.Title = "Şifre Güncelleme";
}

<h2>Şifre Güncelleme</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Eski Şifre</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "Password", Name = "OldPass", @id = "OldPass" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            @if (ViewBag.GSifreHata != null)
            {
                <label class="text-danger">@ViewBag.GSifreHata</label>
            }
        </div>
    </div>

    <div class="form-group">
        <label>Yeni Şifre</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "Password", Name = "NewPass", @id="NewPass", @oninput = "SifreControl()" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Yeni Şifre Doğrulama</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "Password", Name = "NewPassValid", @id = "NewPassValid", @oninput = "SifreControl()" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            <label class="text-danger" hidden="hidden" id="uyumsuzLabel">Şifreler uyuşmuyor.</label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Değiştir" id="submitButton" disabled="disabled" class="btn btn-outline-success" /> |
            @Html.ActionLink("Geri Dön", "Edit", "Users",new { id=Session["UserID"]}, new { @class = "btn btn-outline-secondary" })
        </div>
    </div>
    <script>
        var label = document.getElementById("uyumsuzLabel");
        var submitButton = document.getElementById("submitButton");

        function SifreControl() {
            var newPass = document.getElementById("NewPass").value;
            var newPassValid = document.getElementById("NewPassValid").value;
            if (newPass != newPassValid) {
                label.hidden = false;
                submitButton.disabled = true;
            }
            else{
                label.hidden = true;
                submitButton.disabled = false;
            }
        }
    </script>
}